#outer {
    background-image: url(https://i.imgur.com/jJR6SlV.png);
    background-size: cover;
    background-repeat: no-repeat; /* 修正為 no-repeat */
    height: auto; /* 將高度改為自動 */
    margin: 0;    /* 清除邊距 */
}

#statusbar {
    width: 0;
    background-image: url(https://i.imgur.com/eSlKHkO.png);
    background-size: cover;
    background-attachment: fixed;
}

#middletext, #footer {
    margin: 0; /* 清除邊距 */
    padding: 0; /* 清除填充 */
}

#outer::after {
    content: "";
    display: table;
    clear: both; /* 清除浮動 */
}
