#outer {
    background-image: url(https://i.imgur.com/jJR6SlV.png)class="responsive-image";
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    overflow: hidden;
}

#statusbar {
    /* 	position: relative; */
    /* 	left: 0; */
    width: 0;
    background-image: url(https://i.imgur.com/eSlKHkO.png) class="responsive-image";
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    overflow: auto;
}

.responsive-image {
    width: 100%; /* 使圖片寬度適應其父元素 */
    height: auto; /* 保持高寬比 */
}

#footer {
    background-color: black;
    clear: both;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 10px;
    font-size: 20vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#banner {
    background: coral;
    height: 20vh;
    position: relative;
    color: white;
    padding: 10px;
    font-size: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#middletext {
    background: coral;
    height: 20vh;
    position: relative;
    color: white;
    padding: 10px;
    font-size: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
